.list{
}
.sign{
}
.menu{
}

.jumbotron {
	background-image: url("../images/pizza.png");
	height: 346px;
	background-size: cover;
	margin: 1em 0 0 5em;
	text-align: center;
}
.welcome{
	font-size: 2em;
	transform: translate(0%, 200%);
	margin: auto;
}
