
@media screen and (min-width:376px) and (max-width:1280px) {
    .nav-links{
        display: flex;
        justify-content: flex-end;
        list-style: none;
        width:850px;
    }
    h1{
        font-size: 4em;
        margin: 1em 0 0 0  ;
    }
    li{
        margin: 1em;
    }
    body{
        width: 875px;
    }

    .hidden-on-desktop {
        content-visibility: hidden;
    }
    .main{
        float: left;
        width: 65%;
        margin: .25em
    }
    .sub-section{
        font-style: italic;
        float: left;
        width: 30%;
        margin: .25em;
    }
    .fa-brands{
        content-visibility: hidden;
    }
    footer{
        margin-top: calc(100% - 100px)
    }
}

@media screen and (max-width: 375px) {
    .alert-info{
        background-color: hsl(180deg 100% 90%);
        text-align: center;
        vertical-align: middle;
        line-height: 50px;
    }
    .skipmain{
        text-decoration: none;
    }
    h1{
        text-align: center;
    }
    .nav-links{
        padding: 0;
        margin: auto;
    }
    img {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
    }
    .main{
        margin-top: 1em;
    }
    .sub-section{
        font-style: italic;
    }
    li{
        background: lightgray;
        margin: 1em 0;
        padding: .63em;
        list-style: none;
        text-align: center;
        width: 339px;

    }
}
