.social-media-links{

}
/*@media screen and (min-width:960px) and (max-width:1200px) {*/
/*    body {*/
/*        font-style: italic;*/
/*    }*/
/*}*/
/*.hidden-on-desktop{*/
    /*content-visibility: hidden;*/

@media screen and (max-width: 375px) {
    .alert-info{
        background-color: hsl(180deg 100% 90%);
        text-align: center;
        vertical-align: middle;
        line-height: 50px;
    }
    .skipmain{
        text-decoration: none;
    }
    h1{
        text-align: center;
    }
    .nav-links{
        padding: 0;
        margin: auto;
    }
    img {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
    }
    .main{
        margin-top: 1em;
    }
    .sub-section{
        font-style: italic;
    }
    li{
        background: lightgray;
        margin: 1em 0;
        padding: .63em;
        list-style: none;
        text-align: center;
        width: 339px;

    }
}
