body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
.message {
    border: 2px solid #D3D3D3;
    border-radius: 3px;
    padding: .5em;
    margin: 1em auto;
    width: 95vw;
}
.message-info{
    background-color: #CDDEFF;
    color: darkblue;

}
.message-success{
    background-color: #CFF3DA;
    color: darkgreen;
}
.message-warning{
    background-color: #FCFBC9;
    color: sandybrown;
}
.message-error{
    background-color: #FAD3D7;
    color: darkred;

}
